Unicam.Paradigmi.Project.Web/obj/*
Unicam.Paradigmi.Project.Web/obj
Unicam.Paradigmi.Project.Model/obj
Unicam.Paradigmi.Project.Model/obj/*

Unicam.Paradigmi.Project.Web/bin/*
Unicam.Paradigmi.Project.Web/bin
Unicam.Paradigmi.Project.Model/bin
Unicam.Paradigmi.Project.Model/bin/*

.idea
.idea/*